
body
{
margin: 0;
padding: 0;
font-family:"Cuprum",Arial, sans-serif;
font-size: 14px;
line-height: 24px;
font-weight: 700px
background-color:white;
box-sizing: border-box;

}
a{
	text-decoration: none;
}
* {
	box-sizing:inherit;
}
.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;

}

.top-navigation-wraper .content {

	display:flex;
	justify-content: flex-end;
}

.logo {
position: relative;
background-color: #ee3643; 
padding: 15px 60px 10px;


}
.logo:hover
{
	background-color: #ca2c37;
}
.logo:active
{
	background-color: #ca2c37;
}




.logo::after {

	content: '';
	left:0;
	top:100%;
	position: absolute;
	width: 100%;
	height: 5px;
	background-color: #b52933;
}

.midle-header h2{
	font-size: 16px;
}

.search{
display: flex;
justify-content: center;
height: 100%;
}
.search input{
	order:1;
	font-size: 17px;
	padding: 0px;
	border: 0px red solid;
	background-color: #293449; 
	color: white;
	width: 100%;
	height: 100%;
}
search-wrap {
	height: 100%;
}
.search input:focus{
	display: block;
	background-color: white; 
	color:black;
	height:100%;
	outline:none;
}



 input[type="text"]::-webkit-input-placeholder {
color: white;
}
input[type="text"]::-moz-placeholder {
color:white;
}
.search button{
	font-size: 0;
	background-image: url('../img/icon-search2.svg');
	background-color: #293449; 
	background-position: center center;
	 background-repeat: no-repeat;
	border: 0px red solid;
	width: 50px;

}
.search button:hover{
	background-image: url('../img/icon-search.svg');
}
.search input:focus +  button{
	background-image: url('../img/icon-search1.svg');
	background-color: white; 
}


.order-wrap{
	margin-left:auto;
}
.order-basket{
 display: inline-block;
	margin: 0;
	vertical-align: top;

font-size: 0px;
padding: 0;
list-style: none;
border: 0px solid #e5e5e5;


}
.order-isue {
	background-color: #63a63e;
}

.order-isue:hover{
	background-color:#5fbb2d;
}


.order-isue:active{
	background-color:#518534;
}



.order-basket li{

	vertical-align: top;
	display: inline-block;
	padding: 15px  22px 10px;
font-size: 17px;
color: white;


}
.order-basket a {
	display: block;
	width: 100%;

	color: white;
}
  .order-option1:hover ~ img{
	opacity: 0.6;
}
.order-wrap img:hover{

	opacity: 1;
}

.adress-tel {
	vertical-align: center;
	width: 100%;
	display:inline-block;

	background-color: #f3f7f8;
	border:3px solid white;
	color:#ee3643;
	font-size: 21px;
	position: relative;
	padding: 10px 50px 10px 70px;

}

.login-info {
	vertical-align: center;
	width: 100%;
	display:inline-block;

	background-color:white;
	border:3px solid white;
	color:#000000;
	font-size: 21px;
	position: relative;
	padding: 10px 50px 10px 45px;
}


.login-info::before {
	content: '';
	left:10px;
	top:12px;
	position: absolute;
	width: 100%;
	height: 20px;
	background-image: url(../img/icon-user.svg);
	background-repeat: no-repeat;
}

.login-info::after {
	content: '';
	left: 280px;
	top:15px;
	position: absolute;
	width: 100%;
	height: 20px;
	background-image: url(../img/icon-logout.svg);
	background-repeat: no-repeat;
	opacity:0.6;
}



.adress p {
	font-weight: bold;
	font-size: 14px;
	text-align: center;
}


.adress-tel::before {
	content: '';
	left:10px;
	top:10px;
	position: absolute;
	width: 100%;
	height: 20px;
	background-image: url(../img/icon-phone.svg);
	background-repeat: no-repeat;
}


.midle-header ul{
	padding:0;
	margin:0;
	display:flex;
	justify-content: flex-start;
	list-style: none;
}
.midle-header li  {
	display: flex;
	padding: 14px 15px;
	text-decoration: underline;
	font-size: 16px;


}
.midle-header li a {
	color:#32425c;
}
.midle-header li span{
	display: block;
	width: 5px;
	height: 5px;
	background: #32425c;
	align-self: center;
	border-radius: 50%;
}

.regist-wrap {
	vertical-align: top;
}

.regist-wrap ul{
	display:flex;
	list-style:none;
	padding: 0;
	margin: 0 -5px;

}
.regist-wrap  li {

margin: 0 5px;

	background-color: white;

flex-grow: 1;
    color: white;
    align-items: flex-start;

}
.regist-wrap  .enter:hover {
	color:#f0515c;
}
.regist-wrap  .enter:active {
	color:#b2b2b2;
}
.regist-wrap  .enter-wrap a:hover {
	color:#f0515c;
}
.regist-wrap  .enter-wrap a:active {
	color:#b2b2b2;
}
.enter::before {
	content: '';
	left:5px;
	top:15px;
	position: absolute;
	width: 100%;
	height: 20px;
	background-image: url(../img/icon-logout.svg);
	background-repeat: no-repeat;

}

.regist-wrap li:hover  .enter::before {
	opacity: 0.4;
}



.enter::before{}



.regist-wrap .enter {

	padding-left: 10px;
}

.enter {
	min-width:80px;
}



.regist-wrap a {
	    position:relative;
		display: block;
	width: 100%;
padding: 12px 0;
	color: black;
		font-size: 21px;
	font-weight: bold;
	text-align:  center;
}


.main-header {

	min-height:320px;
}

.main-navigation {
	display:flex;
	flex-direction:column;

}

.top-navigation-wraper {
	width: 100%
	min-height:40px;
	background-color:#293449;
}

.main-navigation-wraper {
	width: 100%
	min-height:280px;
	background-color:#f3f7f8;
	padding-bottom: 55px;
	padding-top:45px;
}
.top-navigation-wraper .content{
	width: 940px;
	margin: 0 auto;
	display:flex;
	justify-content: flex-start;
}
.main-navigation-wraper .content{
	width: 940px;
	margin: 0 auto;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
}

.content{
	width: 940px;
	margin: 0 auto;
}
 .logo img {
 	width:100px;
}
nav {
	width: 100%;
	background-color:#32425c;
	margin-top:40px; 
	position: relative;
}

nav  ul{
	list-style: none;
	display: flex;
	flex-wrap:wrap;
	margin: 0 20px;
	padding: 0;
}

nav a {
	font-size:17px;
	display: block;
	color:white;
	padding: 15px 30px;
	margin-right: -4px;

}

nav li:hover{
	background-color:#293449;
}

nav li a:active{
	color:#686f7b;
	background-color:#293449;
}

nav::after {

	content: '';
	left:0;
	top:100%;
	position: absolute;
	width: 100%;
	height: 5px;
	background-color: #293449;
}



.service {
	display: flex;
	flex-direction: column;
	background-color: #f3f7f8;
	padding:60px 0 70px; 
}
.service-about {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}


.service-description {

	width: 450px;
}



.service-about div {
	margin-left:80px;
}





.service h3{
	font-size: 30px;
	text-transform:uppercase;
	padding: 0;
	margin: 0;

}


.service  p
{ 
width: 400px
font-size:13px;
}

.service-menu{
	margin: 0;
	padding: 30px 0;
	list-style:none;
	display:flex;
	flex-direction: column;
	width:25%;
	position:relative;
}

.service-menu::after{
	content: '';
	left:95%;
	top:-6px;
	position: absolute;
	width: 20px;
	height: 100%;
	background-image:url(../img/shadow-menu.png);
	background-repeat: no-repeat;

}





.service-menu  li{
	padding: 15px 0 15px 25px;
	background-color: #32425c;
	border-bottom:2px solid #293449;
	font-size:21px;
	font-weight: bold;
	color:white;
}
.service-menu  li:hover{
	background-color:#293449;
	color:white;
	border-bottom:2px solid #293449;
}

.service-about div {
	width:75%;
}

.service-menu .service-active{
		background-color: white;
		color: #32425c;
		border-bottom: 2px solid white;
}





.tab1 {
background-image:url(../img/trailer.png);
background-repeat: no-repeat;
background-position: 160px 40px;
	display: none;
		width:270px;

}

.tab2 {
	width:380px;
	background-image:url(../img/garanty.png);
	background-repeat: no-repeat;
	background-position: 240px 10px;
display: none;
}
.tab3 {
	width:270px;
	background-image:url(../img/credit.png);
	background-repeat: no-repeat;
	background-position: 180px 10px;
}

.button {
	color:white;
	background: #ee3643;
	padding: 9px 70px;
	text-transform: uppercase;
}
.button:hover{
	background: #ca2c37;
}
.button:active{
	background: #ba2732;
}

.service-about .tab3 p {
	margin-bottom:30px;
}
.service-about div p {

	margin:0;
	padding:0;
}
.service-about h4{
	font-size:36px;
	padding: 30px 0;
	color:#32425c;
	margin: 0;
	text-transform: uppercase;
}
.service-about .button{
	padding:  9px 45px;
}

.service-about {
	display:flex;
	justify-content: flex-end;
}

.company-about {
	padding: 70px 0 90px ;
}
.company-contacts {
	padding: 70px 0 90px ;
}

.company-contacts h2 {
	padding: 0 0 15px;
	margin: 0;
	font-size: 30px;
	text-transform: uppercase;
}
.company-contacts div {
	padding: 20px 0;
}
.company-contacts .button{
	margin: 0;
	display: inline-block;
	padding: 6px 60px
}
.company-contacts img {
	display: block;
	padding-bottom: 42px;
}

.company-about h1 {
	padding: 0 0 15px;
	margin: 0;
	font-size: 30px;
	text-transform: uppercase;
}
.company-about p{
	padding:15px;
	margin: 0;
}


.company-about ul{
	margin: 0;
	padding: 15px 0;
	list-style: none;


}
.company-about li{
	font-size:18px;
	padding-bottom: 15px;
	padding-left: 35px;
	position:relative;
}


.company-about li::after {
		content: '';
	left:0;
	top:10px;
	position: absolute;
	width: 25px;
	height: 2px;
	background-color: #ee3643;
	background-repeat: no-repeat;

}
.company-about .button{
	padding: 9px 40px;
}

.midle-header {
	width: 33.33333%;
	display: inline-block;
}
.adress-wrap{
	padding: 0 30px;
}
.regist-wrap{
	vertical-align: top;
	padding-left: 30px;
}

.title-midle-header {
padding-left: 50px;
padding-right:30px;
color:red;
font-style:italic;

}
.title-midle-header h2{
	font-size: 16px;
 margin-top: 0; /* Отступ сверху */
    margin-bottom: 0px;

}

.slider{
	margin: 45px 0;

}

.slider-item{

	display:flex;
	flex-direction: row;
	justify-content: space-between;
}











.item-block{
	width: 300px;
	background-color:#293449;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	color: white;
	position: relative;
	background-color: #ffbf47;

}

.block1 {
		background-image:url(../img/materials.png);
	background-repeat: no-repeat;
}
.block2{
		background-image:url(../img/instrument.png);
	background-repeat: no-repeat;
}
.block3{
		background-image:url(../img/mashine.png);
	background-repeat: no-repeat;
}
.block4{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
		background-image:url(../img/sale.png);
	background-repeat: no-repeat;
}
.block5{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
		background-image:url(../img/diliver.png);
	background-repeat: no-repeat;
}

.item-content {
padding-left: 25px;
padding-bottom: 25px;

}
.item-content h3{
	font-size:24px;
	padding: 19px 0 10px 0;
	margin: 0;
	color:white;

}
.item-link{
	display: flex;
	color:white;
	background-image: url(../img/btn-item.png);
	background-repeat: no-repeat;
	padding: 9px 0;
	text-transform: uppercase;
	width:135px;
	border-radius: 3px;
	justify-content: center;
	opacity: 0.7;
}

.item-link:hover{
	opacity: 0.8;
}

.item-link:active{
	opacity: 0.9;
}


.slider1{

	background-color: #32425c;
	background-image:url(../img/slider1.jpg);
	background-repeat: no-repeat;
	min-height: 260px;
}
.slider2{
	background-color: #32425c;
	background-image:url(../img/slider2.jpg);
	background-repeat: no-repeat;
}
.slide-nav {
		width: 65.9%;
	position: relative;
}

.slider-content {
	padding: 20px 25px 25px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	color:white;
	min-height: 260px;
	position: relative;
}
.slider-content h3{
	padding: 0;
	margin: 0;
	font-size: 36px;
}
.slider-content p{
	font-size: 18px;
		padding: 7px 0;
	margin: 0;
}
.slider-content a {
	margin-top:auto;
}


.slide-forward{
		font-size: 0;
	border: 0px red solid;
	content: '';
	right:20px;
	top:40%;
	position: absolute;
	width: 30px;
	height:60px;
		background: transparent;
	background-image:url(../img/icon-right.svg);

	background-repeat: no-repeat;
}
.slider2 .indicator1{
		font-size: 0;
	border: 3px solid white;
	content: '';
	right:50%;
	top:80%;
	position: absolute;
	width: 10px;
	height:10px;
		background-color:white;
		border-radius: 50%;
	background-repeat: no-repeat;
}
.slider2 .indicator2{
		font-size: 0;
	border: 3px solid white;
	content: '';
	right:45%;
	top:80%;
	position: absolute;
	width: 10px;
	height:10px;
		background-color:#ee3643;
		border-radius: 50%;
	background-repeat: no-repeat;
}


.slider1 .indicator1{
		font-size: 0;
	border: 3px solid white;
	content: '';
	right:50%;
	top:80%;
	position: absolute;
	width: 10px;
	height:10px;
		background-color:#ee3643;
		border-radius: 50%;
	background-repeat: no-repeat;
}
.slider1 .indicator2{
		font-size: 0;
	border: 3px solid white;
	content: '';
	right:45%;
	top:80%;
	position: absolute;
	width: 10px;
	height:10px;
		background-color: white;
		border-radius: 50%;
	background-repeat: no-repeat;
}



.slide-back{
	font-size: 0;
	border: 0px red solid;
	content: '';
	left:20;
	top:40%;
	position: absolute;
	width: 30px;
	height:60px;
		background: transparent;
	background-image:url(../img/icon-left.svg);

	background-repeat: no-repeat;
}





.new-item {
	position: absolute;
	left: 80%;
	top:0;
}

.item-right{
	flex-grow: 1;
	margin-left:20px;
	display:flex;
	flex-direction: column;
	justify-content: space-between;
}
.item-right div{

	min-height: 120px;
}
.slider1 img{
	width: 620px;
}

.slider-item {
	margin-top:20px;
}

.products-wrap {
	list-style: none;
	display:flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	padding: 0;
	margin:  0 -10px;
}

.products-wrap li{
width: 25%

}
.products-item {
  position: relative;


margin-top: 20px;
		padding: 0 10px;
	font-family: PT Sans, Arial, sans-serif;
	font-weight: bold;
	font-size: 17px;

}
.products-item-wrap {
	position: relative;
	 border: 1px solid #eaeaea;
}



.products-item-img{
	height: 180px;
}


	.products-item-img div{
	display: none;
}
.products-item:hover .products-item-img img{
	display: none;
}
.products-item:hover  .products-item-img div{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}
.products-item-wrap:hover  {
	 box-shadow: -8px 10px 18px 0 #bbbfc5,
8px 10px 18px 0 #bbbfc5;
}

.products-item-button{
	padding: 44px 40PX;
}
.products-item-button a {
	min-height: 40px;
	width: 130px;
	display:flex;
	align-items: center;
	justify-content: center;
	background-color:#63a63e;
	color:white;
	text-transform: uppercase;
	font-size: 14px;
}
.products-item-button .products-favorit {
	border: 3px solid #64a63f;
	color:#32425c;
	background: white;
}
.products-item-button .products-bay{
	position: relative;
}
.products-item-button .products-bay::after {

	content: '';
	left:0;
	top:100%;
	position: absolute;
	width: 100%;
	height: 3px;
	background-color: #367315;

}
.products-bay::before {

	content: '';
	left:10px;
	top:30%;
	position: absolute;
	width: 100%;
	height: 45px;
	background-image: url(../img/icon-cart.svg);
	background-repeat: no-repeat;
	opacity: 0.6;
}

.products-item-button .products-bay:hover{
	background-color:#5fbb2d;
}
 .products-bay:hover   .products-bay::before {
	opacity: 1;
}

.products-item-button .products-bay:active{
	background-color:#518534;
}

.products-item-button .products-favorit:hover{
	border: 3px solid #33435d;
}
.products-item-button .products-favorit:active{
	color: #c1c6ce;
	border: 3px solid #c1c6ce;
}

.new{

	position: absolute;
	right: 5px;
	top:5px;
}

.product-card {
	padding:  0 30px 20px;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.product-close {
	display: none;
}



.product-card  p {
	color: #a9a9a9;
	text-decoration: line-through;
	width: 100%;
	padding: 10px 0 5px;
	margin: 0;
	min-height: 40px

}
.product-card h3{
	font-size: 17px;
	margin: 0;
}
.product-card span{
	width: 100%;
margin-left: 15px;
margin-top: auto;
padding: 10px 0;

	color: white;
	max-width: 130px;
	background-image: url(../img/red-button.svg);
	background-repeat:no-repeat;
	background-position: -10px 0;
	display: flex;
	justify-content: center;
}


.populat-title {
flex-grow: 1;
	display:flex;
	flex-direction: row;
	align-items: center;


}

.populat-title h2{
	flex-grow: 1;
	font-size: 30px;
	font-weight: normal;

}
.populat-title {
	min-width:80px;
	background-color:#f9f5f0;
	padding: 0 25px;
}




.popular-manufactures {

	margin-top: 20px;
	padding-bottom: 90px;
}

.popular-manufactures .products-item{
	 outline: 0px solid #eaeaea;
display: flex;

}

.popular-manufactures .products-item a {
 	width: 100%;
 	border: 1px solid #eaeaea;
 	display: flex;
 	justify-content: center;
 	min-height: 140px;
 }
 .popular-manufactures .products-item a:hover{
 	  box-shadow: -7px 10px 10px 0 #bbbfc5,
 7px 0px 10px 0 #bbbfc5;
 }

 .popular-manufactures .products-item a:active{
 	  box-shadow: -3px 6px 4px 0 #bbbfc5,
3px 0px 4px 0 #bbbfc5;
	opacity: 0.3;
 }



 .products-item  img {

margin: auto;
 }


.company-about{
display: flex;
	flex-direction: column;
width: 530px;
}
.company-contacts{
	width: 300px;
}
.about {
display: flex;
	flex-direction: row;
	justify-content: space-between;

}
.bottom-nav {

	background-color:#32425c;
	padding-bottom:55px;
}
.bottom-nav .content{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap:wrap;
}

.social-nav {
background-color: #293449;

height: 105px;
}
.social-nav .content{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap:wrap;
	align-items: center;
	height: 100%;
}


.bottom-nav ul {
	min-width: 550px;
	display: flex;
	list-style:none;
	padding: 0;
	margin: 0 -30px ;
	flex-wrap:wrap;
}


.bottom-nav .bottom-menu a{
color:#d6b479;
}


.bottom-nav li{
	padding:0;
	margin: 0;

}

.bottom-nav a{
	display: block;
		padding: 35px 30px 0;
		color:white;
		font-size: 18px;
	margin: 0;
}


.bottom-nav a:hover{

	text-decoration: underline;
}
.bottom-nav a:active{
	color:#929caa;
	text-decoration: none;
}
.bottom-menu a:active {
		color:#998a6e;
	text-decoration: none;
}

.bottom-nav p{
	padding: 35px 0 0;
	color:white;
	font-size: 18px;
	margin: 0;
	width: 330px;
}

.bottom-nav .logo img{
	width: 135px;

}
.bottom-nav .logo {
	padding: 20px 40px;
}
.mail{
	display:flex;
	list-style: none;
	padding: 34px 0px 34px 110px;
	justify-content: flex-start;
	align-items: center;
	padding: 0;
	width: 300px;

}
.callback{
margin-right:  40px;
}

.mail li{
	width: 50%;
	font-size: 16px;
	color:white;

}
.mail li p {

	margin:  0;
}
.mail a{
		font-size: 16px;
	color:#ffd180;

}
.mail a:hover{
	text-decoration: underline;
}
.mail a:active{
	color: #853546;
	text-decoration: none;
}
.concert {
	min-width: 320px;


}
.concert p{
	padding: 0;
	margin: 0;
	font-size: 16px;
	color:white;
	margin: 0;
	line-height: 18px;
}

.social-icon{

	display:flex;
	margin: 0;
	list-style: none;
	padding:0 55px 0 0;
	flex-direction:row;
	width: 320px;
	justify-content: center;

}
.social-icon li{
padding: 0 2px;

}
.social-icon a{
	display: flex;
	width:40px;
	height:40px;
	background: #212a3a;
	justify-content: center;
	border-radius: 50%;
}

.social-icon a:hover{
	background:#ee3643;
}
.social-icon a:active{
	background: #ee3643;
}
.social-icon img{
margin:auto;
}


/*  Страница Каталога */

.breadcrums {
	padding: 20px 0 ;
	margin: 0;
	list-style: none;
	display:flex;

}
.breadcrums li{

padding: 0 20px;
text-transform: uppercase;
font-size: 13px;
	position: relative;

}
.breadcrums a{
	color: black;

}


.breadcrums li:not(:last-child):after  {

	content: '';
	top:20%;
	position: absolute;
	margin: 0 15px;
	width: 100%;
	height: 15px;
	background-image: url("../img/icon-right-small.svg");
	background-repeat: no-repeat;
}

.title-catalog h1 {
	margin: 0;
	padding: 0;
}

.title-catalog{
	text-transform: uppercase;
	padding: 27px  0 27px 30px;
	background: #f2f6f8;
}

.left-block {
	display:flex;
	flex-direction: column;
	max-width: 220px;
	padding-top: 20px;
	font-family: "PT sans",Arial, sans-serif;
}

.filtr p {
	padding:10px 16px;
	background-color: #f7f3ec ; 
	margin:0 0 10px;
	text-transform: uppercase;
}
.filtr h3{
	text-transform: uppercase;
	font-size: 17px;
	padding:15px 0px;
	margin: 0;
}

.silver{
	margin-top:30px;
	height: 3px;
	widows: 170px;
	background: #d7dcde;
	display: flex;
	justify-content: flex-start;
}
.green{
	background: #00ca74;
	width: 80%;
		position: relative;

}
.indicator{
		padding:10px 16px;
	background-color: #f7f3ec ; 
	margin:0 0 10px;
	height: 80px;
vertical-align: center;

}
.green::before {

	content: '';
	left:0;
left:-1%;
top:-8px;

	position: absolute;
	width: 100%;
	height: 35px;
	background-image: url(../img/filter-button.svg);
	background-repeat: no-repeat;
}

.green::after {

	content: '';
	left:0;
left:91%;
top:-8px;

	position: absolute;
	width: 100%;
	height: 35px;
	background-image: url(../img/filter-button.svg);
	background-repeat: no-repeat;
}





.cost-wrap {
	display:flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	padding-bottom: 25px;
	border-bottom:1px solid #e5e5e5;
}
.cost-wrap input{
width: 44%;
text-align: center;
border:0px solid black;
background: inherit;
min-height: 40px;
background: #f7f3ec;

}
.cost-wrap span {
	display: block;
	padding: 0 10px;
}

.firm {
	list-style: none;
	padding: 0;
	margin:0;
	font-size: 15px;
	text-transform: uppercase;
}
.firm-wrap {
		padding-bottom: 25px;
}

.energi-wrap {
	padding-bottom: 70px;
}


.firm-wrap input[type="checkbox"]{
display: none;

}
.energi-wrap input[type="radio"]{
display: none;

}
.firm-wrap  label{
	display:inline-block;
	vertical-align: top;

}
.firm label:before {
  content: " ";
  color: #000;
  display: inline-block;
  font: 20px/20px Arial;
  margin-right: 15px;
  position: relative;
  text-align: center;
  text-indent: 0px;
  width: 23px;
  height: 22px;
  background-image: url(../img/checkbox-off.svg);
  border-image: initial;
  vertical-align: middle;
}
.firm input:checked +  label:before {
  background-image: url(../img/checkbox-on.svg);
  border: 0px solid #dbdbdb;
   width: 26px;
  height: 22px;
}


.energi {
	list-style: none;
	padding: 0;
	margin:0;
	font-size: 15px;
	text-transform: uppercase;
}

.energi label:before {
  content: " ";
  color: #000;
  display: inline-block;
  font: 20px/20px Arial;
  margin-right: 15px;
  position: relative;
  text-align: center;
  text-indent: 0px;
  width: 19px;
  height: 19px;
  vertical-align: middle;
  border-radius: 50%;
  border:3px solid #c5c5c5;
}
.energi input:checked +  label:before {

  background-color: #c5c5c5 ;
    left:6px;
   box-shadow: 0 0 0 3px #fff, 0 0 0 6px #c5c5c5;
   width: 7px;
  height: 7px;
  margin-right: 28px;
}

.filtr button {
	padding: 0 40px;
	display:flex;
	justify-content: center;
	align-items: center;
	min-height: 40px;
	flex-wrap:wrap;
	border:1px solid #e5e5e5;
	background: white;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: bold;
}

.row{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding-bottom:60px;
}

.right{
	width: 700px;
	margin-left: 20px;
	padding-top:20px;
}

.sort {
	padding:10px 16px;
	background-color: #f7f3ec ; 
	margin:0 0 10px;
	text-transform: uppercase;
	display: flex;
	justify-content: flex-start;

}

.sort  ul{

	list-style: none;
	display: flex;
	flex-wrap:wrap;
	margin: 0 -10px;
	padding: 0;

}

.sort a {
	font-size:17px;
	display: block;
	color:#e5e5e5;
	padding: 0 30px;
	margin-right: -4px;

}




.sort  div {
	width: 200px;
}

.sort .sort-nav {
	width: 70px;
	position: relative;
	height: 24px;
}

.sort .sort-nav a {
	display: inline-block;
	font-size: 0;
	padding: 0;
	margin: 0;
}

.sort .sort-nav .sort-back::before {

	content: '';
left:50%;
top:75%;
transform: translate(-50%,-50%);
	position: absolute;
	width:15px;
	height: 100%;
	background-image:url(../img/icon-up-dir.svg);
	background-repeat: no-repeat;
}
.sort .sort-nav .sort-forward::before {

	content: '';
left:100%;
top:75%;
transform: translate(-50%,-50%);
	position: absolute;
	width: 15px;
	height: 100%;
	background-image:url(../img/icon-down-dir.svg);
	background-repeat: no-repeat;
	opacity: 0.3;
}

.right .products-wrap {
	padding-bottom: 60px;
}

.right .products-wrap li{
	width: 33.33333%;
}

.pagination{
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
}
.pagination li {
	width: 40px;
	min-height:40px;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	border:1px solid #e5e5e5;
	display: flex;
	margin-left:10px;
}
.pagination .next {
	min-width: 140px;
	margin-right: auto; 
	padding: 0 40px;
	display: flex;
}
.pagination .next a {

	display:flex;
	justify-content: center;
	align-items: center;
	min-height: 40px;
	flex-wrap:wrap;
	border:1px solid #e5e5e5;
	background: white;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: bold;
}

.some-words {
	padding: 70px 0;
	background: #f2f6f8;
}

.some-words h2 {
	padding: 0 0 35px;
	margin: 0;
	text-transform: uppercase;
	font-size: 30px;
}
.some-words p {
	padding: 0;
	margin: 0;

}




.modal
{
display: none;
border-top:10px solid #ff5257;
position: fixed;
width: 620px;
height: 430px;
left:50%;
top:50%;
transform: translate(-50%,-50%);
z-index: 5;
background: white;

font-family:  PT Sans, Arial, sans-serif;
}

.modal-form {
	list-style: none;
	padding: 0;
	margin: 0 -10px;
	display: flex;
	justify-content: flex-start;
	flex-wrap:wrap;

}
.modal-form li {
	width:50%;
	padding: 0 10px;
}
.message-form {
	display: block;
}

.message-form input[type=text] {
height: 40px;
font-size: 13px;
width: 100%;
	border: 2px solid #dee3e4;
}
.message-form  label{
	font-size:18px;
}

.modal-form  .modal-textarea {
	padding: 15px 10px  40px;
	flex-grow:2;
	cols:4;
}

textarea{
	width: 100%;
	border: 2px solid #dee3e4;
}
.submit-button{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color : #f4f4f4;
	height: 110px;
	padding: 0 80px;
}

.modal-wrap{
padding: 50px 80px 0;
position: relative;
}

.submit-button button{
width: 100%;
text-align:center;
padding: 10px 0;
background: #ee3643;
color:white;
	text-transform: uppercase;
	border:none;
}


.submit-button button:hover{
	background: #ca2c37;
}
.submit-button button:active{
	background: #ba2732;
}
.close {
	content: '';
	left:0;
	top:100%;
	position: absolute;
	width: 5px;
	height: 25px;
	background: #b52933 0 100% no-repeat,
	 #b52933 5px 100% no-repeat;

}


.add
{
	display: none;
border-top:10px solid #ff5257;
position: fixed;
width: 620px;
height: 280px;
left:50%;
top:50%;
transform: translate(-50%,-50%);
z-index: 5;
background: white;
 box-shadow: -8px 20px 18px 0 #bbbfc5,
8px 20px 8px 0 #bbbfc5;
font-family:  PT Sans, Arial, sans-serif;
}

.add_basket {
	padding: 40px 70px 50px;
}
.successful
{
	margin: 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
padding: 25px 0px 25px 29px;
background-image:url(../img/form-1.png);
background-repeat: no-repeat;
background-position:1px 1px;
font-size: 30px;
}

.add_button {
	list-style: none;
	padding: 0;
	margin: 0;
	display:flex;
	justify-content: space-between;
	align-items: center;


}

.add_button_wrap {
	padding: 40px 70px 0;
	background-color: #f1f1f1;
		height: 110px;
}

.add_button a {
	display: inline-block;
	width: 220px;
	padding: 10px 0;
	text-align: center;
	background: #ee3643;
	color:white;
	font-weight: bold;
	text-transform: uppercase;
}

.add_button .continium {
		background: white;
	color:black;
}

.map{

position: fixed;
width: 940px;
height: 450px;
left:50%;
top:50%;
transform: translate(-50%,-50%);
z-index: 15;
background-image: url(../img/map1.jpg);
background-position: -14px -13px;
 box-shadow: -5px -5px 5px 0 #bbbfc5,
5px 5px 5px 0 #bbbfc5;
font-family:  PT Sans, Arial, sans-serif;
}